[Unit]
Description=Next.js App
After=network.target
Requires=pms-build.service

[Service]
Type=simple
WorkingDirectory=/var/www/pms_vasd
ExecStart=/usr/bin/npm run start -- --hostname=172.251.109.221 --port=61569
Restart=always
RestartSet=10
SyslogIndentifier=api_doc
User=cntt
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
